<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.content {
  max-width: 950px;
  margin: auto;
  background: white;
  padding: 10px;

}

.content2{

  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 10px;

}

.content3{
  display: flex;
align-items: center;
justify-content: center;
top: -50px;
}



</style>
</head>
<br> <br><br> <br>
  <h1 class="text-xs-center"> REPRESENTATION DU MASSIF VENTRICULAIRE CARDIAQUE </h1>
<div class="content">

  <br> <br>


  <p>Notre équipe s’intéresse depuis 1989 à l’étude de la myoarchitecture myocardique normale et pathologique. Nous avons ainsi pu démontrer que le myocarde était un analogue biologique stabilisé des cristaux liquides nématiques chiraux. L’étude des disinclinaisons observées nous permet de caractériser chaque cœur étudié et de corréler ces données phénotypiques nouvelles aux données génomiques maintenant disponibles. Nous nous limiterons dans cette introduction en ligne à présenter graphiquement ces données, laissant le lecteur intéressé se reporter aux articles originaux que nous avons publiés et qui sont donnés en références.</p>

  <p>Figure 1 – Les modèles « quasi- géodésiques sur des surfaces toroidales imbriquées ». 1a Celui de Krehl 1991 limité ay ventricule gauche( image de Gauche ). 1B la conjecture de Jouk et al étendant le modèle Krehl aux 2 ventricules ( image de droite). </p>


</div>


<ul class="text-xs-center" >
  <li class="child" >
     <img src="assets/img/1A.png" >


  </li>
  <li ><img src="assets/img/1B.png"  width="300" height="320" > </li>
</ul>

<div class="content">
  <br>

<p>Figure 2 – Les représentations graphiques surfaciques telles qu’elles sont encore habituellement utilisées pour représenter l’anatomie cardiaque. Seules les trabéculations endocardiques et les limites épicardiques peuvent être représentées. </p>

<img src="assets/img/Livre1983.png" >
<br> <br>
<p> Figure 3 – Aspect extérieur du modèle bi-ventriculaire représenté avec l’aide du logiciel graphique Blender. 1A Vue de face. 1B Vue arrière. 1c Vue latérale droite. 1D vue latérale gauche </p>

</div>



<div class = "content2 ">
  <figure>
    <img src="assets/img/Figure3Vuedeface.png">
    &nbsp; &nbsp;
    <figcaption>Vue de face</figcaption>
  </figure>

  <figure>
    <img src="assets/img/Figure3VueArriere.png" >
    &nbsp;  &nbsp;
    <figcaption>VueArriere</figcaption>
  </figure>

  <figure>
    <img src="assets/img/Figure3VueLateraleDroit.png" >
    &nbsp;  &nbsp;
    <figcaption>VueLateraleDroit</figcaption>
  </figure>

  <figure>
    <img src="assets/img/Figure3VuelateraleGauche.png">
    &nbsp;  &nbsp;
    <figcaption>VuelateraleGauche</figcaption>
  </figure>

</div>

<div class="content">


  <br> <br> <br>
  <p>Figure 4 – Coupes petit axe du massif ventriculaire à 2 niveaux différents proches de la base du cœur. 1ère Colonne à partir de la gauche : coupe native. 2ème cartes d’azimut. 3ème carte d’élévation. 4ème cartes en bâtonnets. 1ère ligne coupe basale. 2ème ligne coupe à mi-distance entre la 1ère et l’équateur.</p>

</div>


<div class = "content3 ">
  <figure class="fig4">
    <img src="assets/img/Fig4/Figure4DeuxrangeesArticle2000.png">
    &nbsp; &nbsp;
    <figcaption> Coupes petit axe du massif ventriculaire </figcaption>
  </figure>
</div>

<div class="content">


  <br> <br> <br>
  <p>Figure 5 – Modèle graphique du VG représentant les 3 surfaces toroïdales imbriquées. La première en bleu, la seconde en vert la 3ème en rouge. Vous pouvez voir la decomposition sur la vidéo</p>


</div>

<div class="center">


  <img  class = "gauche" src="assets/img/figureVG.png" width="262" height="252">
  &nbsp; &nbsp;

<video width="400" controls>
  <source src="assets/img/videos/video1.mp4" type="video/mp4">
</video>

<div class = content3>
  <figure>
    <img src="assets/img/SansTextureVG.png">
    &nbsp;  &nbsp;
    <figcaption>Vue sans texture </figcaption>
  </figure>

  <figure>
    <img src="assets/img/TextureVGCoupe.png" width="262" height="252" >
    &nbsp;  &nbsp;
    <figcaption>Vue avec texture </figcaption>
  </figure>

</div>

</div>







<div class="content">


  <br> <br> <br>
  <p>Figure 6 – Modèle graphique du VD (mêmes conventions que pour le VG)</p>

</div>

<div class="center">


  <img  class = "gauche" src="assets/img/figureVD.png"  height="252">
  &nbsp; &nbsp;

<video width="400" controls>
  <source src="assets/img/videos/video2.mp4" type="video/mp4">
</video>
</div>


<div class="content">


  <p>Figure 7 – Modèle graphique du massif ventriculaire permettant de mettre en évidence les disinclinaisons aux niveaux des parties supérieures et inférieures du septum interventriculaire.</p>


</div>


<div class="center">
<img   src="assets/img/fig9Juin/image7disclinaisons.png" width="752" height="500" >
</div>



<div class="content">

  <br><br><br>
  <p>Si vous voulez vous reporter aux articles originaux télécharger le fichier en format txt pour récupérer les noms des articles <br> Clicker sur le logo pour telecharger  (<a href="assets/img/summary-joukps-set.txt" download="Liste d'articles"><img src = "assets/img/pubmed-logo-blue.svg" alt="thumbnail" width="120"></a>)<br> ou aller sur la page du <a href="https://pubmed.ncbi.nlm.nih.gov/?term=jouk%20ps">pubmed.gouv</a>
  </p>



</div>
